<h1>Team</h1>

<p>{{ team.id }} - {{ team.name }}</p>

<h2>Team Lead</h2>
<p>{{ team.lead.id }} {{ team.lead.name }}</p>

<label>
  Select a Lead
  <select name="lead" (change)="onUpdateLead($event)">
    <option>Please Select A Lead</option>
    <option
      *ngFor="let employee of employees" [value]="employee.id"
      [selected]="employee.id === team.lead.id"
    >
      {{ employee.id }} - {{ employee.name }}
    </option>
  </select>
</label>

<h2>Team Members</h2>

<ul>
  <li *ngFor="let member of team.members">
    {{ member.id }} - {{ member.name }}
  </li>
</ul>

<h2>All Employees</h2>

<div>
  <label *ngFor="let employee of employees">
    <input
      (change)="onUpdateMember(employee)"
      [checked]="isMember(employee.id)"
      type="checkbox"
    >
    {{ employee.id }} - {{ employee.name }}
  </label>
</div>
